@import "../variables.scss";
@import "../mixins.scss";


.header{
	background-color: $dark_background_color;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	padding: 0.3rem 0.5rem 0.8rem 0.5rem;
	font-size: 1em;

	&-left-section, &-right-section{
		display: flex;
		align-items: baseline;

		& div:not(:first-child){
			margin-left: 15px;
		}
	}

	&-left-section{
		margin-left: 80px;

		@media screen and (max-width:768px){
			margin-left: 20px;
		}
	}

	&-right-section{
		margin-right: 80px;
		@media screen and (max-width:768px){
			margin-right: 30px;
		}
	}

	.logo-link{
		text-decoration: none;
	}

	.logo-container{
		display: flex;
		align-items: baseline;
		cursor: pointer;
	}

	.logo{
		position: relative;
		top: 4px;
		width: 40px;
		filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
	}

	.logo-caption{
		font-size: 1.3em;
		margin-left: 0.2em;
		color:$white;
	}
}

.shadow{
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.sticky{
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
}

.menu-toggle{
	display: inline-block;
	position: relative;
	z-index: 1000;
	top: 8px;
	width: 40px;
	height: 40px;
	margin-right: 15px;
	background: $dark_background_color;
	box-shadow: 0 0 20px rgba(255,255,255,0.1);
	border: 2px solid rgba(13, 202, 240, 0.1);
	border-radius: 10px;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	overflow: hidden;

	span{
		position: absolute;
		width: 25px;
		height: 3px;
		left: 5px;
		background: $sea_blue;
		border-radius: 4px;
		pointer-events: none;
		transition: 0.5s;
	
		&:nth-child(1){
			transform: translateY(-10px);
			width: 20px;
		}

		&:nth-child(2){
			transform: translateY(10px);
			width: 15px;
		}
	}

	@media screen and (max-width:768px) {
		display: flex;
	}
}

.menu-toggle.active{
	span{
		left: 3px;
		&:nth-child(1){
			width: 30px;
			transform: translateY(0px) rotate(45deg);
			transition-delay: .125s;
		}

		&:nth-child(2){
			width: 30px;
			transform: translateY(0px) rotate(315deg);
			transition-delay: .25s;
		}

		&:nth-child(3){
			transform: translate(60px);
		}
	}
}

.link{
	&-container{
		display: flex;
		justify-content: center;
		align-items: baseline;
		gap: 1rem;
	}

	background: none;
	border: none;
	text-decoration: none;
	color: $gray_text_color;
	font-family: inherit;
	font-style: inherit;
	cursor: pointer;
	font-size: 18px;
	transition: color 150ms ease-in-out, border 150ms ease-in-out;

	@media screen and (max-width:768px) {
		font-size: 24px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
	}
	&:hover{
		@media screen and (max-width:768px) {
			border-top: 1px solid $gray_text_color;
			border-bottom: 1px solid $gray_text_color;
		}
	}
}

.link-container{
	@media screen and (max-width:768px) {
		background-color: $dark_background_color;
		position: absolute;
		top: 70px;
		left: -15px;
		height: 100vh;
		min-width: 250px;
		width: 40vw;
		padding-top: 20px;
		padding-left: 35px;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		transform: translateX(-40vw);
		transition: transform 600ms ease-in-out;
	}

	@media screen and (max-width:665px) {
		transform: translateX(-250px);
	}
}

.link-container.active{
	@media screen and (max-width:768px) {
		transform: translateX(0);
		box-shadow: 5px 0 5px -5px rgba(57, 63, 72, 0.1);
		z-index: 999;
	}
}

.info-button__transparent {
	@include transparent-color-button($sea_blue);
}

.header-right-section> .dropdown > .info-button__transparent {
	font-size: 16px;
}

.login-form > .info-button__solid {
	font-size: 14px;
	@include solid-color-button($white, $blue);
}

.dropdown{
	position: relative;
}

.dropdown.active > .link,
.link:hover {
	color: lighten($gray_text_color, 10%);
}

.dropdown-menu {
	position: absolute;
	left: -110px;
	top: calc(100% + .25rem);
	background-color: #fff;
	padding: 0.75rem;
	border-radius: .25rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transform: translateY(-15px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

	@media screen and (max-width:768px) {
		left: -130px;
	}
}

.dropdown.active > .link-button + .dropdown-menu{
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.dropdown-menu > .login-form >{
	input{
		margin-bottom: 5px;
	}

	.info-button__solid{
		margin-top: 5px;
		margin-bottom: 3px;
	}

	.registration-link{
		font-size: 14px;
		color: $gray_text_color;

		&:hover{
				color: lighten($gray_text_color, 10%);
		}
	}
}
