@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-display: swap; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif; }

body {
  height: 200vh; }

.header {
  background-color: #212529;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.3rem 0.5rem 0.8rem 0.5rem;
  font-size: 1em;
  transition: box-shadow 0.3s ease-in-out; }
  .header-left-section, .header-right-section {
    display: flex;
    align-items: baseline; }
    .header-left-section div:not(:first-child), .header-right-section div:not(:first-child) {
      margin-left: 15px; }
  .header-left-section {
    margin-left: 80px; }
    @media screen and (max-width: 768px) {
      .header-left-section {
        margin-left: 20px; } }
  .header-right-section {
    margin-right: 80px; }
    @media screen and (max-width: 768px) {
      .header-right-section {
        margin-right: 30px; } }
    @media screen and (max-width: 414px) {
      .header-right-section {
        margin-right: 10px; } }
  .header .logo-link {
    text-decoration: none; }
  .header .logo-container {
    display: flex;
    align-items: baseline;
    cursor: pointer; }
  .header .logo {
    position: relative;
    top: 4px;
    width: 40px;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); }
  .header .logo-caption {
    font-size: 1.3em;
    margin-left: 0.2em;
    color: #FFFFFF; }

.shadow {
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3); }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + div {
  padding-top: 71px; }

.menu-toggle {
  display: inline-block;
  position: relative;
  top: 8px;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background: #212529;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(13, 202, 240, 0.1);
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden; }
  .menu-toggle span {
    position: absolute;
    width: 25px;
    height: 3px;
    left: 5px;
    background: #0DCAF0;
    border-radius: 4px;
    pointer-events: none;
    transition: 0.5s; }
    .menu-toggle span:nth-child(1) {
      transform: translateY(-10px);
      width: 20px; }
    .menu-toggle span:nth-child(2) {
      transform: translateY(10px);
      width: 15px; }
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: flex; } }

.menu-toggle.active span {
  left: 3px; }
  .menu-toggle.active span:nth-child(1) {
    width: 30px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: .125s; }
  .menu-toggle.active span:nth-child(2) {
    width: 30px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: .25s; }
  .menu-toggle.active span:nth-child(3) {
    transform: translate(60px); }

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #9B9D9E;
  font-family: inherit;
  font-style: inherit;
  cursor: pointer;
  font-size: 18px;
  transition: color 150ms ease-in-out, border 150ms ease-in-out; }
  .link-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1rem; }
  @media screen and (max-width: 768px) {
    .link {
      font-size: 20px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent; } }
  @media screen and (max-width: 768px) {
    .link:hover {
      border-top: 1px solid #9B9D9E;
      border-bottom: 1px solid #9B9D9E; } }

@media screen and (max-width: 768px) {
  .link-container {
    background-color: #212529;
    position: absolute;
    top: 70px;
    left: -15px;
    height: 100vh;
    min-width: 250px;
    width: 40vw;
    padding-top: 20px;
    padding-left: 35px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    transform: translateX(-40vw);
    transition: transform 600ms ease-in-out; } }

@media screen and (max-width: 665px) {
  .link-container {
    transform: translateX(-250px); } }

@media screen and (max-width: 768px) {
  .link-container.active {
    transform: translateX(0);
    box-shadow: 5px 0 5px -5px rgba(57, 63, 72, 0.1); } }

.info-button__transparent {
  padding: 9px 12px;
  color: #0DCAF0;
  background-color: transparent;
  border: 1px solid #0DCAF0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .15s ease-out; }
  .info-button__transparent:hover {
    background: none;
    color: #000;
    background-color: #0DCAF0;
    mix-blend-mode: screen; }

.header-right-section > .dropdown > .info-button__transparent {
  font-size: 18px; }

.login-form > .info-button__solid {
  font-size: 16px;
  padding: 5px 7px;
  color: #FFFFFF;
  background-color: #0B5ED7;
  border: 1px solid #0B5ED7;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .15s ease-out; }
  .login-form > .info-button__solid:hover {
    background-color: #0949a6; }

.login-form {
  font-size: 20px; }

.dropdown {
  position: relative; }

.dropdown.active > .link,
.link:hover {
  color: #b5b6b7; }

.dropdown-menu {
  position: absolute;
  left: -110px;
  top: calc(100% + .25rem);
  background-color: #fff;
  padding: 0.75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-15px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out; }
  @media screen and (max-width: 768px) {
    .dropdown-menu {
      left: -130px; } }

.dropdown.active > .link-button + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; }

.dropdown-menu > .login-form > input {
  margin-bottom: 5px; }

.dropdown-menu > .login-form > .info-button__solid {
  margin-top: 5px;
  margin-bottom: 3px; }

.dropdown-menu > .login-form > .registration-link {
  font-size: 14px;
  color: #9B9D9E; }
  .dropdown-menu > .login-form > .registration-link:hover {
    color: #b5b6b7; }

.carousel-container {
  height: 150px;
  width: 450px;
  display: flex;
  align-items: center; }

.carousel-window {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.carousel-items-container {
  height: 100%;
  display: flex;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }

.arrow {
  cursor: pointer; }

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none; }
  .item-1 {
    background-color: cornflowerblue; }
  .item-2 {
    background-color: coral; }
  .item-3 {
    background-color: darkseagreen; }
